[{ elvis
 , [
    { config,
      [ #{ dirs    => [ "apps/**/src"
                      , "apps/**/test"
                      ]
         , filter  => "*.erl"
         , ruleset => erl_files
         , rules   => [ {elvis_style, god_modules, #{ignore => [ els_client
                                                               , els_completion_SUITE
                                                               , els_definition_SUITE
                                                               , els_diagnostics_SUITE
                                                               , els_document_highlight_SUITE
                                                               , els_methods
                                                               ]}}
                      , {elvis_style, dont_repeat_yourself, #{ ignore => [ els_diagnostics_SUITE
                                                                         , els_references_SUITE
                                                                         , els_dap_general_provider_SUITE
                                                                         ]
                                                             , min_complexity => 10}}
                      , {elvis_style, invalid_dynamic_call, #{ignore => [ els_compiler_diagnostics
                                                                        , els_server
                                                                        , els_dap_server
                                                                        , els_app
                                                                        , els_stdio
                                                                        , els_tcp
                                                                        , els_dap_test_utils
                                                                        , els_test_utils
                                                                        ]}}
                      , {elvis_text_style, line_length, #{limit => 80, skip_comments => false}}
                      , {elvis_style, operator_spaces, #{ rules => [ {right, ","}
                                                                   , {left , "-"}
                                                                   , {right, "+"}
                                                                   , {left , "+"}
                                                                   , {right, "*"}
                                                                   , {left , "*"}
                                                                   , {right, "--"}
                                                                   , {left , "--"}
                                                                   , {right, "++"}
                                                                   , {left , "++"}
                                                                   , {right, "->"}
                                                                   , {left , "->"}
                                                                   , {right, "=>"}
                                                                   , {left , "=>"}
                                                                   , {right, "<-"}
                                                                   , {left , "<-"}
                                                                   , {right, "<="}
                                                                   , {left , "<="}
                                                                   , {right, "||"}
                                                                   , {left , "||"}
                                                                   , {right, "!"}
                                                                   , {left , "!"}
                                                                   , {right, "=:="}
                                                                   , {left , "=:="}
                                                                   , {right, "=/="}
                                                                   , {left , "=/="}
                                                                   ]}}
                      , {elvis_style, function_naming_convention, #{ignore => [ els_client
                                                                              , prop_statem
                                                                              ]}}
                      , {elvis_style, no_debug_call, #{ignore => [erlang_ls, els_dap]}}
                      , {elvis_style, atom_naming_convention, disable}
                      , {elvis_style, state_record_and_type, disable}
                      ]
         , ignore => [els_dodger, els_typer]
         }
      , #{ dirs    => ["."]
         , filter  => "Makefile"
         , ruleset => makefiles
         }
      , #{ dirs    => ["."]
         , filter  => "rebar.config"
         , ruleset => rebar_config
         }
      , #{ dirs    => ["."]
         , filter  => "elvis.config"
         , ruleset => elvis_config
         }
      ]}
   ]}
].
