{erl_opts, [ debug_info
           , {parse_transform, lager_transform}
           , warn_missing_spec_all
           , warnings_as_errors
           ]
}.
{deps, [ {ranch,  "1.5.0"}
       , {jsx,    "2.9.0"}
       , {cowlib, "2.3.0"}
       , {redbug, "1.2.0"}
       , {lager,  "3.6.3"}
       ]
}.
{relx, [ { release
         , {erlang_ls, "0.0.1"}
         , [ erlang_ls
           , redbug
           ]
         }
       , {dev_mode, true}
       , {include_erts, false}
       , {extended_start_script, true}
       ]
}.
{profiles, [ { test
             , [{erl_opts, [ nowarn_export_all
                           , nowarn_missing_spec_all
                           ]
                }]
             }
           , { eqc
             , [{erl_opts, [ {d, 'EQC_TESTING'}
                           , {parse_transform, eqc_cover}
                           , nowarn_export_all
                           , nowarn_missing_spec_all
                           ]
                }]
             }
           ]
}.
