{erl_opts, [ debug_info
           , {parse_transform, lager_transform}
           , warnings_as_errors
           , warn_export_vars
           , warn_unused_import
           , warn_missing_spec_all
           ]
}.

{deps, [ {ranch,         "1.7.1"}
       , {jsx,           "2.9.0"}
       , {cowlib,        "2.3.0"}
         %% The latest tagged version of redbug does not support
         %% debugging escriptized code, so fetching it from git.
       , {redbug,        {git, "https://github.com/massemanet/redbug.git", {ref, "60fb6e17c164f153a792985a88ac5c67a2364220"}}}
       , {lager,         "3.8.0"}
       , {yamerl,        "0.7.0"}
       , {docsh,         "0.7.2"}
       , {elvis_core,    "0.6.0"}
       , {rebar3_format, "0.2.1"}
       , {ephemeral,     "2.0.4"}
       , {tdiff,         "0.1.2"}
       , {uuid,          "1.8.0", {pkg, uuid_erl}}
       , {erlang_bs,     {git, "https://github.com/erlang-ls/erlang_bs.git", {branch, "master"}}}
       ]
}.

{shell, [ {apps, [erlang_ls]} ]}.

{plugins, [ rebar3_proper
          , coveralls
          , {rebar3_lint, {git, "https://github.com/project-fifo/rebar3_lint.git", {tag, "0.1.11"}}}
          , {rebar3_erlang_ls, {git, "https://github.com/erlang-ls/rebar3_erlang_ls.git", {branch, "master"}}}
          ]
}.

{minimum_otp_vsn, "21.0"}.

{escript_emu_args, "%%! -connect_all false\n" }.

%% Keeping the debug profile as an alias, since many clients were
%% relying on it when starting the server.
{profiles, [ { debug, [] }
           , { test
             , [ { erl_opts, [ nowarn_export_all
                             , nowarn_missing_spec_all
                             ]
                 }
               , { deps
                 , [ {meck,           "0.8.13"}
                   , {proper,         "1.3.0"}
                   , {proper_contrib, "0.2.0"}
                   , {coveralls,      "2.2.0"}
                   ]
                 }
               , { provider_hooks, [ { pre, [ { compile, lint } ] } ] }
               ]
             }
           ]
}.

{cover_enabled, true}.
{cover_export_enabled, true}.
{coveralls_coverdata, ["_build/test/cover/ct.coverdata", "_build/test/cover/proper.coverdata"]}.
{coveralls_service_name, "github"}.

{dialyzer, [ {warnings, [unknown]}
           , {plt_apps, all_deps}
           , {plt_extra_apps, [dialyzer, mnesia, common_test]}
           ]}.

{xref_checks, [ undefined_function_calls
              , undefined_functions
              , locals_not_used
              , deprecated_function_calls
              , deprecated_functions
              ]}.
%% Set xref ignores for functions introduced in OTP 23
{xref_ignores, [{code, get_doc, 1}, {shell_docs, render, 4}]}.

%% Disable warning_as_errors for redbug to avoid deprecation warnings.
{overrides, [ {del, redbug, [{erl_opts, [warnings_as_errors]}]}
            ]}.
