# include_dirs:
#   - "include/"
deps_dirs:
  - "./_build/test/lib/*"
  - "./_build/default/lib/*"
apps_dirs:
  - "./_build/test/lib/*"
  - "./_build/default/lib/*"
  - "apps/bb_app"
  - "apps/bc_app"
  - "apps/main_app"
  - "main_app"

lenses:
  enabled:
    # - ct-run-test
    - server-info
diagnostics:
  disabled:
    - xref
